* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 2s ease;
}
body {
  background-color: #616060;
}

.boxs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .box {
    margin: 10px;
    padding: 10px;
    background-color: var(--my-ccs-var);
    height: 100px;
    width: 100px;
    color: black;
    font-size: 15px;
    text-align: center;
    border: 1px dotted #f3b2b2;

    button {
      position: relative;
      top: -8px;
      right: -40px;
    }
    button:hover {
      transform: scale(1.5);
      transform: translateY(-3px);
      cursor: pointer;
    }
  }
  .box:hover {
    transform: scale(1.1);
    border: 4px dotted #f3b2b2;
  }
}

.Forms {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .Form {
    background-color: #1a351880;
    width: 30vw;
    padding: 20px;
    border-radius: 25px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    select {
      padding: 15px;
      margin: 10px;
      border-radius: 20px;
      width: 100%;
      cursor: pointer;
    }
    input {
      padding: 15px;
      margin: 10px;
      border-radius: 20px;
      width: 100%;
      cursor: text;
    }

    button {
      width: 100%;
      height: 50px;
      padding: 10px;
      background-color: rgb(53, 51, 146);
      border-radius: 10px;
      color: #fff;
      font-weight: bold;
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 30px;
      position: relative;
      top: 0;
      transition: all ease 0.5s;
    }

    button:disabled {
      background-color: rgb(7, 7, 29);
    }

    button:hover {
      transform: translateY(-2px);
      cursor: pointer;
    }

    .error {
      color: red;
      font-size: 25px;
    }

    .preview {
      width: 100%;
      height: 20px;
      background-color: var(--preview);
      transition: all 1s ease;
    }
    .preview:hover {
      height: 100px;
    }
    .preview:active {
      height: 200px;
      transform: rotate(180deg);
    }

    .HeadingPreview {
      color: #a3a3a3;
      text-align: center;
      margin-bottom: 5px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .Forms {
    .Form {
      width: 45vw;
    }
  }
}
@media screen and (max-width: 800px) {
  .Forms {
    flex-direction: column;

    .Form {
      justify-content: center;
      margin: 20px auto;
      width: 80vw;
    }
  }
}
