.boxs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .box {
    margin: 10px;
    padding: 10px;
    background-color: var(--my-ccs-var);
    height: 100px;
    width: 100px;
    color: black;
    font-size: 15px;
    text-align: center;
    border: 1px dotted #f3b2b2;
  }
}

.Addingform {
  width: 40vw;
  // background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .form {
    width: 100%;
    padding: 20px;
    border-radius: 25px;
    background-color: #565555;
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

    input {
      padding: 15px;
      margin: 10px;
      border-radius: 20px;
      width: 100%;
      // width: 200px;
    }

    button {
      width: 100%;
      height: 50px;
      padding: 10px;
      background-color: rgb(151, 164, 164);
      border-radius: 10px;
      font-weight: bold;
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .error {
      display: none;
      color: red;
      font-size: 15px;
    }
    input:invalid ~ .error {
      display: block;
    }
  }
}

.Addingform:hover {
  transform: scale(1.01);
  transition: all 1s ease;

  .form {
    transition: all 1s ease;
    border: 1px dotted red;
    span {
      transition: all 1s ease;
      font-size: 20px;
    }
  }
}
